*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
body{
    background:linear-gradient(to left, #00ff5b ,#0014ff);
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.input_container{
    width: 100%;
    max-width: 500px;
    
    border-radius: 5px;
    padding: 20px 5px;
    text-align: center;
}
.input_container input{
    border: none;
    outline: none;
    margin-block: 12px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500; 
    padding: 10px;
}
.input_container input[type="text"]{
    width: 75%;
}
.input_container input[type="button"]{
    width: 15%;
    background-color: #1e0396;
    color: #fff;
    cursor: pointer;
}
.input_container input[type="button"]:hover{
    background-color: #3813dd;
    padding: 10px;
}
h1{
    font-size: 45px;
    font-weight: 600;
    color: #ffe600;
    text-align: start;
    margin-inline-start: 20px;
    
 
}
ul{
    width: 100%;
    max-width: 450px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
     */
}
li{
    list-style: none;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid rgb(158, 158, 158);
    margin-block: 5px;
    padding: 5px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    color:#fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
}
.List-Btn{
    width: 20%;
    font-size: 18px;
    font-weight: 500;
    margin-inline-start: 10px;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: #05aa3f;
    color: #fff;
}
.Delete-Btn{
    background-color: #f34702;
    color: #fff;
}
p{
    width: 70%;
}



